[submodule "submodules/cryptographic_estimators"]
	path = submodules/cryptographic_estimators
	url = git@github.com:tigerjack-crypto/CryptographicEstimators.git
[submodule "submodules/LEDATools"]
	path = submodules/LEDATools
	url = git@github.com:tigerjack-crypto/LEDAtools.git
